.navbar{
    width: 100%;
    background-color: #ababab62;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    
}
.links ul{
    display: flex;
    gap:15px;
    font-size: 15px;
    cursor: pointer;
}

.links li{
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}

.links li:hover{
    background-color:rgb(19, 88, 24) ;
    color: white;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: rgb(0, 0, 0) !important;
  background-color: #25781b86;
  cursor: pointer;
  transition: all 0.25s;
  user-select: none;
  height: 45px;
}
button:hover {
  background-color: rgb(19, 88, 24);
  color: white;
}


.LangaugeSelect{
  background-color: transparent !important;
  border-radius: 4px;
  height: 45px;
  border: 2px solid black;
  flex: 1;
  width: 100%;
}


.form-control{
height: 45px;
border: 2px solid black !important;
}
.StateSelect{
  border: 2px solid black;
  height: 45px;
  border-radius:4px ;

}

.stsearch-box input{
  border: none !important;
  
}
.stdropdown-container{
  border: none !important;
}

.form-control:focus {
    color: black;
    background-color: var(--bs-body-bg);
    outline: 0;
    box-shadow: none !important;
}
.navSearchContainer{
  display: flex;
  position: relative;
  flex: 6;
}
.SearchIcon{
   position: absolute;
  right: 0px;
  top:0px;
  background-color: black;
  height: 45px;
  width: 45px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.lucide-search{
  position: relative;
  top:8px;
  left: 12px;
  color: white;
}

.navbar-collapse{
gap: 10px !important;
}
.NavContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.HomeNav{
    width: 90%;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 0 10px;
}
.HomeNav select{
    background-color: transparent;
    max-width: 200px;
    border: none;
}
.HomeNav p{
    padding-top: 10px;
    cursor: pointer;
   
}

@media (max-width:685px) {
  .HomeNav{
    justify-content: space-evenly;
    font-size: 15px;
  }
.HomeNav select{
display: none;
}
button{
   font-size: 18px !important;
}
}
.stsearch-box input {
background-color: transparent;
}
.navbar-toggler:focus{
  box-shadow: none;
}

@media (max-width:990px) {
  .LangaugeSelect{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.GridCards li:hover{
  background-color: grey;
  color: white;
}
.OptionBtn:hover{
  color: white;
}
.GridCards{
  font-size: 20px;
}